.main-debate-page {
    width: 100%;
    min-height: $minHeight;
    position: relative;
    .debate-preview {
        .skip-btn {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
        .comments-btn {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            cursor: pointer;
            img {
                width: 3rem;
            }
        }
        .debate-question {
            padding-top: 25vh;
            text-align: center;
        }
        .timer {
            padding-top: 1rem;
            font-size: 2rem;
            color: $clr1;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .comments-title {
            font-size: 2rem;
        }
    }
}
